<div class="block-container block-composition block-composition-files-list">

    {% include "../title.twig" with {'block': block.inner_blocks.title } %}
    {% include "../paragraph.twig" with {'block': block.inner_blocks.paragraph } %}
    {% include "../files-list.twig" with {'block': block.inner_blocks.files_list } %}

</div>