<a href="{{block.url}}" class="block-container block-{{block.key}}">
    <span>
        {{block.content.name}} {% if block.content.external_name %}<span>{{block.content.external_name}}</span>{% endif %}
    </span>
</a>