{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}
    </head>
{% endblock %}

    <body data-template="base.twig" class="{{bodyClasses}}">

		<a href="{{site.url}}" class="site-logo" id="site-logo">
			{% include "../assets/img/logo.svg" %}
		</a>

		<div id="overlay"></div>

		{% include 'header.twig' %}

		<main id="content" role="main" class="content">
			{% block breadcrumbs %}{% endblock %}
			{% block banner %}{% endblock %}
			{% block content %}
				Sorry, no content
			{% endblock %}
		</main>

		{% block footer %}
			{% include 'footer.twig' %}
		{% endblock %}

		{% include "script-footer.twig" %}
	</body>

</html>
